# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Scripting3Axes2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Dev\Scripting3Axes2\.idea\.idea.Scripting3Axes2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
